# Node modules
node_modules/

# Environment files
.env
.env.*.local
.env.local
.env.production
.env.production.local
.env.development
.env.development.local
.env.test
.env.test.local

# Optional logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*